@{
    ViewBag.Title = "關於幼幼書坊";
}
    <img src="~/img/header.png" >
    <h2>幼幼書坊</h2>
    <h3>知識的基礎，必須建立在閱讀上面。</br>
        ---約翰生
    </h3>
<hr />
    <p>
    幼幼書坊提供您優良的借書環境，我們位於高雄市楠梓區，若您有需要，歡迎來電洽詢。</br>
    Tel:07-1157832</br>
    Fax:07-4458214</br>
    E-Mail:asdq0625◎yoyomail.com</br>
</p>

